<div class="container">

  <div class="row py-3">
    <div class="col-12 col-md-6">
      <div class="d-block">
        <h2 class="w-100 text-start text-md-center">
          Il était une fois... Un&nbspRaspberry&nbspPi.
        </h2>

        <p class="w-100 text-start text-md-center">
          MugguM est une équipe de développeurs, webdesigners, artistes photographes, rédacteurs...
          Nous souhaitons apporter notre contribution à la construction du monde de demain en vous
          donnant les capacités de réaliser vos projets les plus ambitieux. Nos nombreux contacts vous
          seront utiles tout au long de votre avancée.
        </p>
      </div>

      <div class="d-block">
        <h2 class="w-100 text-end text-md-center">
          Comment ça a commencé ?
        </h2>

        <p class="w-100 text-end text-md-center">
          Tout a commencé avec un mug et un thé... On a eu une idée, on en a discuté, travaillé dessus,
          appris des choses dont le développement web, le design digital et plein d'autres choses
          passionnantes comme l'astrophotographie ou la permaculture.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="d-block">
        <h2 class="w-100 text-start text-md-center">
          Vous apprenez tout et n'importe-quoi...
        </h2>

        <p class="w-100 text-start text-md-center">
          Oui ! Mais... Nous sommes passionnés par les belles choses de la vie. C'est pourquoi nous
          privilégions les projets engagés dans le développement durable, la création artistique et
          l'artisanat ainsi que l'éducation. Chaque projet est pour nous un moyen d'en apprendre plus
          sur notre monde, alors nous prenons les devants ;)
        </p>
      </div>

      <div class="d-block">
        <h2 class="w-100 text-end text-md-center">
          Ce que nous proposons
        </h2>

        <p class="w-100 text-end text-md-center">
          Nous avons quelques services à vous proposer pour le moment. En voici la liste.
        </p>
      </div>
    </div>
  </div>

</div>
